<div class="outer" style="padding: 50px 0">
  <form style="width: 100%" [formGroup]="form" (ngSubmit)="signup()">
    <div class="container">
      <h1>Sign up</h1>
      <hr>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="fullName">Full Name</label>
            <input formControlName="fullName" type="text" id="fullName" class="form-control">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="username">Username</label>
            <input formControlName="email"  type="email" id="username" class="form-control" autocomplete="off">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password"  type="password" id="password" class="form-control" autocomplete="off">
          </div>
        </div>
        <div class="col-12">
          <br>
          <button class="btn btn-primary col-12" [disabled]="form.invalid" type="submit">Register</button>
          <br>
          <br>
          <a routerLink="/security/login" class="btn btn-dark col-12">Already have an Account</a>
        </div>
      </div>
    </div>
  </form>
</div>
